org-id-locations
org-roam.db
output

theme/static/css/style.css
theme/static/css/style.css.map

.emacs/*
!.emacs/straight
.emacs/straight/*
!.emacs/straight/versions
.emacs/straight/versions/*
!.emacs/straight/versions/default.el
