{% extends "layout.html" %}

{% block title %}{{ title }} - {{ name }}{% endblock %}

{% block main %}

<h1>Recent Posts</h1>
<ul>
  {% for post in posts %}
  <li>
    [{{ post.date | strftime("%Y-%m-%d") }}] <a href="{{ url_for("posts", slug=post.slug) }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

<h1>Recent Org Notes</h1>
<ul>
  {% for node in nodes %}
  <li>
    [{{ node.mtime | strftime("%Y-%m-%d") }}] <a href="{{ url_for("org-nodes", slug=node.slug) }}">{{ node.title }}</a>
  </li>
  {% endfor %}
</ul>

<h1>Projects</h1>

<h2>Professional</h2>
<ul>
  {% for project in projects.professional %}
  <li>
    <a href="{{ project.url }}">{{ project.name }}</a> - {{ project.desc }}
  </li>
  {% endfor %}
</ul>

<h2>Personal</h2>
<ul>
  {% for project in projects.personal %}
  <li>
    <a href="{{ project.url }}">{{ project.name }}</a> - {{ project.desc }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
