{% extends "layout.html" %}

{% block title %}{{ title }} - {{ name }}{% endblock %}

{% block og %}
<meta name="og:title" content="{{ post.title }}"></meta>
<meta name="og:url" content="{{ url_for("index") }}"></meta>
{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="{{ post.title }}"></meta>
{% endblock %}

{% block main %}
<div class="content">
  <h1 class="title">{{ post.title }}</h1>
  {{ post.html | safe}}

  <h1>Recent Posts</h1>
  <ul>
    {% for p in posts %}
    <li>
      [{{ p.date | strftime("%Y-%m-%d") }}] <a href="{{ url_for("posts", slug=p.slug) }}">{{ p.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <h1>Recent Org Notes</h1>
  <ul>
    {% for n in nodes %}
    <li>
      [{{ n.mtime | strftime("%Y-%m-%d") }}] <a href="{{ url_for("org-nodes", slug=n.slug) }}">{{ n.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <h1>Projects</h1>

  <h2>Professional</h2>
  <ul>
    {% for project in projects.professional %}
    <li>
      <a href="{{ project.url }}">{{ project.name }}</a> - {{ project.desc }}
    </li>
    {% endfor %}
  </ul>

  <h2>Personal</h2>
  <ul>
    {% for project in projects.personal %}
    <li>
      <a href="{{ project.url }}">{{ project.name }}</a> - {{ project.desc }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
