{% extends "layout.html" %}

{% block title %}{{ title }} - {{ node.title }}{% endblock %}

{% block og %}
<meta name="og:title" content="{{ node.title }}"></meta>
<meta name="og:url" content="{{ url_for("org-nodes", slug=node.slug) }}"></meta>
{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="{{ node.title }}"></meta>
{% endblock %}

{% block main %}
<h1 class="title">{{ node.title }}</h1>
<div class="meta">
  <span class="mtime">{{ node.mtime | strftime("%Y-%m-%d") }}</span>
  <ul class="filetags">
    {% for tag in node.tags %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
</div>

{{ node.html | safe }}

{% if node.backlinks %}
<section class="org-roam-backlinks">
  <h2>Backlinks</h2>
  <ul>
    {% for link in node.backlinks %}
    <li>
      <a href="{{ url_for("org-nodes", slug=link.slug) }}">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div class="comments">
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ url_for("org-nodes", slug=node.slug) }}';
    this.page.identifier = '{{ node.slug }}';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ disqus_shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endblock %}
