{% extends "layout.html" %}

{% block title %}{{ title }} - {{ post.title }}{% endblock %}

{% block og %}
<meta name="og:title" content="{{ post.title }}"></meta>
<meta name="og:url" content="{{ url_for("posts", slug=post.slug) }}"></meta>
{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="{{ post.title }}"></meta>
{% endblock %}

{% block main %}
<div class="content">
  <h1 class="title">{{ post.title }}</h1>
  <div class="meta">
    <span class="mtime">{{ post.date | strftime("%Y-%m-%d") }}</span>
    <ul class="filetags">
      {% for tag in post.filetags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>

  {{ post.html | safe }}
</div>

<div class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="nanzhong/nanzho.ng"
          data-repo-id="MDEwOlJlcG9zaXRvcnkyOTcxMjYwMTE="
          data-category="Comments"
          data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyNjAxMjc3"
          data-mapping="title"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-theme="transparent_dark"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
{% endblock %}
