<!DOCTYPE html>
<html lang="en-ca">
  {{ block "head" . }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  {{ end }}

  <body>
    {{ block "header" . }}
    <header>
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    {{ end }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}
    <footer>
      Copyright © 2020 Nan Zhong
    </footer>
    {{ end }}
  </body>
</html>
