@font-face {
    font-family: 'Iosevka Term NF';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/iosevka-term-nf-regular.woff') format('woff');
}

@font-face {
    font-family: 'Iosevka Term NF';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/iosevka-term-nf-italic.woff') format('woff');
}

@font-face {
    font-family: 'Iosevka Term NF';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/iosevka-term-nf-bold.woff') format('woff');
}

@font-face {
    font-family: 'Iosevka Term NF';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/iosevka-term-nf-bolditalic.woff') format('woff');
}
