$black: #000000;
$white: #ffffff;

$bg:   #161a1d;
$bg-1: #1e2529;
$bg-2: #272f35;
$bg-3: #303a41;

$fg:   #e2e6e9;
$fg-1: #a7b4be;
$fg-2: #6c8393;
$fg-3: #414e58;

$base-0:        #ed6a5e;
$base-0-bright: #f66355;
$base-1:        #ed8e5e;
$base-1-bright: #f68b55;
$base-2:        #edd55e;
$base-2-bright: #f6db55;
$base-3:        #b2ed5e;
$base-3-bright: #b3f655;
$base-4:        #5ebeed;
$base-4-bright: #55c1f6;
$base-5:        #5e76ed;
$base-5-bright: #5570f6;
$base-6:        #8e5eed;
$base-6-bright: #8b55f6;
$base-7:        #ed5ea6;
$base-7-bright: #f655a6;
