@font-face {
    font-family: 'Iosevka Web';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/IosevkaWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/assets/fonts/IosevkaWeb-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/IosevkaWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('/assets/fonts/IosevkaWeb-BoldItalic.woff2') format('woff2');
}
