@import 'colours';
@import 'base';
@import 'font';

header, main, footer {
    margin: 0 auto;
    width: 320px;

    @media (min-width: 576px) {
        width: 500px;
    }

    @media (min-width: 768px) {
        width: 700px;
    }
}

header {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid $base-2;

    @media (min-width: 576px) {
        margin-top: 50px;
        margin-bottom: 25px;
        width: 500px;
    }

    @media (min-width: 768px) {
        width: 700px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;

            a {
                color: $base-3;
                font-weight: bold;
                text-decoration: none;
            }
        }

        li.prompt {
            color: $white;
        }

        li::after {
            content: ' ';
        }

        li:nth-child(n+3) {
            float: right;

            &::before {
                content: '⦿';
                margin-left: 15px;
                margin-right: 5px;
            }
        }
    }

    .comment {
        color: $fg-2;
    }
}

main {
    div.content {
        position: relative;
        margin: 10px 0 0 auto;
        width: 250px;

        @media (min-width: 576px) {
            width: 100%;
        }

        h1, h2, h3, h4, h5, h6 {
            position: relative;
            margin: 5px 0;
        }

        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            position: absolute;
            width: 75px;
            left: -75px;
            box-sizing: border-box;
            padding-right: 3px;
            text-align: right;
            font-weight: normal;
            color: $fg-1;

            @media (min-width: 576px) {
                padding-right: 10px;
            }
        }

        h1::before {
            content: "*";
        }

        h1.title {
            margin: 0;

            &::before {
                content: '#+title:';
                width: 150px;
                left: -150px;
            }
        }

        h2::before {
            content: "**";
        }

        h3::before {
            content: "***";
        }

        h4::before {
            content: "****";
        }

        h5::before {
            content: "*****";
        }

        h6::before {
            content: "******";
        }

        dl {
            display: grid;
            grid-template: auto / auto auto;
            margin: 0;
        }

        dt {
            font-weight: bold;
        }

        img {
            padding: 5px;
            margin: 0 auto;
            max-width: 100%;
            background-color: $bg-1;
            border: 1px solid $bg-3;
        }

        blockquote {
            background-color: $bg-1;
            margin: 0;
            padding: 5px 5px 5px 20px;
            border-left: 5px solid $bg-3;
        }

        .highlight {
            margin: 5px 0;
            border: 1px solid $bg-3;
        }

        .todo.TODO, .todo.BLOCKED, .todo.REVIEW {
            font-weight: bold;
            color: $base-2;
        }

        .todo.DONE, .todo.REJECTED {
            font-weight: bold;
            color: $base-3;
        }

        div.meta {
            position: relative;

            span.mtime {
                display: block;
                color: $fg-1;

                &::before {
                    position: absolute;
                    box-sizing: border-box;
                    padding-right: 3px;
                    text-align: right;
                    color: $fg-1;
                    width: 150px;
                    left: -150px;
                    content: '#+mtime:';

                    @media (min-width: 576px) {
                        padding-right: 10px;
                    }
                }
            }

            ul.filetags {
                width: 100%;
                display: flex;
                list-style-type: none;
                margin: 0;

                &::before {
                    position: absolute;
                    box-sizing: border-box;
                    padding-right: 3px;
                    text-align: right;
                    color: $fg-1;
                    width: 150px;
                    left: -150px;
                    content: '#+filetags:';

                    @media (min-width: 576px) {
                        padding-right: 10px;
                    }
                }

                li {
                    color: $fg-1;

                    &::before {
                        content: ':';
                    }

                    &:last-child{
                        &::after {
                            content: ':';
                        }
                    }

                    a {
                        color: $fg-1;
                    }
                }
            }
        }

        div#table-of-contents {
            display: none;

            @media (min-width: 576px) {
                display: block;
                background-color: $bg-1;
                float: right;
                margin-left: 10px;
                margin-bottom: 10px;
                padding: 0 10px 0 10px;
                border-left: 5px solid $bg-2;
                font-size: 70%;

                h1 {
                    margin: 3px 0;

                    &::before {
                        display: none;
                    }
                }
            }

            @media (min-width: 1200px) {
                position: absolute;
                left: 700px;
                width: 250px;
            }
        }

        div.org-src-container {
            background-color: $bg-1;
            overflow-x: scroll;
            padding: 5px 5px 5px 20px;
            border-left: 5px solid $bg-3;

            pre {
                font-family: 'Iosevka Custom', monospace;
                margin: 5px;
            }
        }

        section.org-roam-backlinks {
            padding: 10px 0;
            margin: 20px 0;
            border-top: 1px solid $base-6;
        }
    }

    .comments {
        margin-top: 20px;
        border-top: 1px solid $base-7;
        padding: 20px 0 0 0;
    }
}


footer {
    color: $fg-1;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 0;
    border-top: 1px solid $base-2;
}
