@font-face {
  font-family: 'Iosevka Custom';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/iosevka-custom-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Custom';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/iosevka-custom-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Custom';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/iosevka-custom-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Custom';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/iosevka-custom-bolditalic.woff2') format('woff2');
}

* {
  font-family: 'Iosevka Custom', monospace;
}

main {
  --color-prettylights-syntax-comment: #a4aeb2;
  --color-prettylights-syntax-constant: #80cde7;
  --color-prettylights-syntax-entity: #917fb3;
  --color-prettylights-syntax-storage-modifier-import: #fee391;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #b0de7f;
  --color-prettylights-syntax-string: #febb65;
  --color-prettylights-syntax-variable: #0b93cd;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f89d85;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bag: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #ffd7a4;
  --color-prettylights-syntax-markup-heading: #0b93cd;
  --color-prettylights-syntax-markup-italic: #d9e0e4;
  --color-prettylights-syntax-markup-bold: #d9e0e4;
  --color-prettylights-syntax-markup-deleted-text: #171A1C;
  --color-prettylights-syntax-markup-deleted-bg: #f18f96;
  --color-prettylights-syntax-markup-inserted-text: #171A1C;
  --color-prettylights-syntax-markup-inserted-bg: #92b35c;
  --color-prettylights-syntax-markup-changed-text: #171A1C;
  --color-prettylights-syntax-markup-changed-bg: #ffd34c;
  --color-prettylights-syntax-markup-ignored-text: #d9e0e4;
  --color-prettylights-syntax-markup-ignored-bg: #80cde7;
  --color-prettylights-syntax-meta-diff-range: #2E3339;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #80cde7;
  --color-btn-text: #d9e0e4;
  --color-btn-bg: #2E3339;
  --color-btn-border: #343A40;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #535150;
  --color-btn-hover-border: #777f83;
  --color-btn-active-bg: #25292D;
  --color-btn-active-border: #343A40;
  --color-btn-primary-text: #d9e0e4;
  --color-btn-primary-bg: #3e8667;
  --color-btn-primary-border: #343A40;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #239665;
  --color-btn-primary-hover-border: #777f83;
  --color-btn-primary-selected-bg: #54895d;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: #a4aeb2;
  --color-btn-primary-disabled-bg: 48756b;
  --color-btn-primary-disabled-border: #343A40;
  --color-fg-default: #d9e0e4;
  --color-fg-muted: #b9c1c7;
  --color-fg-subtle: #63696d;
  --color-canvas-default: rgb(25 39 52);
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: rgb(21 32 43 / 100%);
  --color-canvas-subtle: rgb(37 51 65);
  --color-border-default: #343A40;
  --color-border-muted: #25292D;
  --color-neutral-muted: rgb(99 110 123 / 40%);
  --color-neutral-subtle: rgb(99 110 123 / 10%);
  --color-accent-fg: #afce15;
  --color-accent-emphasis: #0b93cd;
  --color-accent-muted: #0b93cd;
  --color-accent-subtle: #0b93cd;
  --color-success-fg: #85bf4a;
  --color-danger-fg: #f25364;
  --color-primer-shadow-focus: 0 0 0 3px #004d7a;
  --color-scale-gray-7: #343A40;
  --color-scale-gray-8: #2E3339;
  --color-scale-blue-8: #004d7a;

  --color-social-reaction-border: #343A40;
  --color-social-reaction-bg: #1C1F22;
  --color-social-reaction-bg-hover: #343A40;
  --color-social-reaction-bg-reacted-hover: #004d7a;

  color-scheme: dark;
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

/*! Custom CSS */

.gsc-reactions-count {
  display: none;
}

.gsc-comments > .gsc-header {
  order: 1;
}

.gsc-comments > .gsc-comment-box {
  order: 2;
  margin-bottom: 1rem;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-header {
  padding-bottom: 1rem;
}

.gsc-homepage-bg {
  background-color: #171A1C;
}
